{% extends 'base.html.twig' %}

{% block main %}
    {% include 'Common/_website_schema_org.html.twig' %}
    {% include 'Common/_webpage_schema_org.html.twig' with {'name': 'app.home.meta_title'|trans} %}
    {% include 'Common/_breadcrumbs_schema_org.html.twig' with {'breadcrumbs': [{'name': 'app.home.type'|trans, 'url': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}]} %}
    <section class="py-20 bg-color-1 min-h-screen">
        <div class="container mx-auto px-4">
            <div class="flex -md:flex-col -md:text-center">
                <div class="w-1/2 -md:w-full">
                    <p class="font-serif text-4xl text-color-3 leading-tight mb-4 -md:text-3xl">{{ 'app.brand.name'|trans }}</p>
                    <h1 class="font-serif text-7xl text-color-3 !leading-tight mb-4 -md:text-5xl">{{ 'app.home.title'|trans }}</h1>
                    <div class="-md:py-8">
                        <a href="#our-plugins" class="xt-button py-3 px-6 text-md font-medium font-serif leading-snug tracking-wider uppercase text-color-3 bg-white transition hover:bg-color-3 active:bg-color-3 on:bg-color-3 hover:text-white active:text-white on:text-white">{{ 'app.home.cta'|trans }}</a>
                    </div>
                </div>
                <div class="w-1/2 -md:w-full my-auto">
                    <div class="xt-media-container pb-[75%]">
                        <img class="xt-media object-cover" src="{{ asset('build/assets/images/magento2_logo.png') }}" alt="{{ 'app.magento_2'|trans }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="our-plugins" class="py-20">
        <div class="container mx-auto px-4 -lg:content-none -lg:w-full -lg:px-0">
            <h2 class="text-5xl font-serif text-color-3 leading-tight text-center pb-20">{{ 'app.home.plugins_section'|trans }}</h2>
            {% for product in products %}
                <a href="{{ path('app_product_page', {'slug': product.slug}) }}" class="flex -md:flex-col {{ loop.index%2 == 0 ? '' : 'flex-row-reverse' }}">
                    <div class="w-1/2 -md:w-full">
                        <div class="p-12">
                            <div class="xt-media-container pb-[100%]">
                                <img class="xt-media object-cover" src="{{ asset(product.image) }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 bg-color-5 flex items-center justify-center -md:w-full relative">
                        <img class="absolute w-[50%] top-[16%] right-[20%]" style="transform: translate(50%, -50%) rotate(45deg);" src="{{ asset('build/assets/images/money_back_guarantee.png') }}" alt="{{ 'app.home.money_back_guarantee'|trans }}">
                        <div class="p-16">
                            <h6 class="text-xl font-serif text-color-3 leading-tight">{{ 'app.magento_2'|trans }}</h6>
                            <h3 class="text-5xl font-serif text-color-1 leading-tight my-4">{{ product.name }}</h3>
                            <p class="xt-p text-color-4">{{ product.shortDescription }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
